# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.ipch
*.bak
*.backup
*.log

# Build outputs
*.exe
*.obj
*.pch
*.pdb
*.idb
*.class

# Ignore build outputs
/x64/
/Debug/
/Release/
/*.tlog
